<template name="fxOsInstallPrompt">
	<section class="full-page">
		<div class="wrapper">
			<header>
				
			</header>
			<div class="cms-page">
				<h1>{{_ "Install_FxOs"}}</h1>
				<p>{{_ "Install_FxOs_follow_instructions"}}</p>
			</div>
		</div>
	</section>
</template>

<template name="fxOsInstallDone">
	<section class="full-page">
		<div class="wrapper">
			<header>
				<a class="logo" href="/">
					<img src="images/logo/logo.svg?v=3" />
				</a>
			</header>
			<div class="cms-page">
				<h1>{{_ "Install_FxOs"}}</h1>
				<p>{{_ "Install_FxOs_done"}}</p>
			</div>
		</div>
	</section>
</template>

<template name="fxOsInstallError">
	<section class="full-page">
		<div class="wrapper">
			<header>
				<a class="logo" href="/">
					<img src="images/logo/logo.svg?v=3" />
				</a>
			</header>
			<div class="cms-page">
				<h1>{{_ "Install_FxOs"}}</h1>
				<p>{{_ "Install_FxOs_error"}}</p>
				<p>{{installError}}</p>
			</div>
		</div>
	</section>
</template>
