<template name="loginForm">
	{{#if showSandstorm}}
		<div class="alert alert-danger">
			You must login to Sandstorm (on the top right) in order to access this chat.
		</div>
	{{else}}
	<form id="login-card" method='/' novalidate>
		{{#if waitActivation}}
			<header>
				<h2>{{{_ "Registration_Succeeded"}}}</h2>
				<p>{{{_ "Wait_activation_warning"}}}</p>
				<p>{{{_ "Please_wait_activation"}}}</p>
			</header>
		{{else}}
			{{ > loginServices }}
			{{#if needsValidateEmail}}
				<div class="alert alert-danger">
					{{_ "You_need_confirm_email"}}
				</div>
			{{/if}}
			{{#if showFormLogin}}
				<div class="fields">
					<div class='input-text active {{showName}}'>
						<input type="text" name='name' placeholder='{{namePlaceholder}}' dir="auto" />
					</div>
					<div class='input-text active {{showEmailOrUsername}}'>
						<input type="text" name='emailOrUsername' placeholder='{{emailOrUsernamePlaceholder}}' autocapitalize="off" autocorrect="off" />
						{{#if hasOnePassword}}
							<div class="one-passsword"></div>
						{{/if}}
					</div>
					<div class='input-text active {{showEmail}}'>
						<input type="email" name='email' placeholder='{{_ "Email"}}' />
					</div>
					<div class='input-text active {{showPassword}}'>
						<input type="password" name='pass' placeholder='{{passwordPlaceholder}}' />
					</div>
					<div class='input-text active {{showConfirmPassword}}'>
						<input type="password" name='confirm-pass' placeholder='{{_ "Confirm_password"}}' />
					</div>
				</div>
				<div class="submit">
					<button data-loading-text="{{_ "Please_wait"}}..." class='button primary login'><span>{{btnLoginSave}}</span></button>
				</div>
				{{#if registrationAllowed}}
				<div class="register {{showRegisterLink}}">
					<button type="button">{{_ 'Register'}}</button>
				</div>
				{{else}}
					{{#if linkReplacementText}}
						{{{linkReplacementText}}}
					{{/if}}
				{{/if}}
				{{#if passwordresetAllowed}}
				<div class="forgot-password {{showForgotPasswordLink}}">
					<button type="button">{{_ 'Forgot_password'}}</button>
				</div>
				{{/if}}
			{{/if}}
		{{/if}}
		<div class="back-to-login {{showBackToLoginLink}}">
			<button type="button">{{_ 'Back_to_login'}}</button>
		</div>
	</form>
	<div class='login-terms'>
		{{{loginTerms}}}

		<div class="powered-by">
			
		</div>
	</div>
	{{/if}}
</template>
