<template name="social">
	<div class="social">
		{{#if withParagraph}}
			<h4>{{_ "Join_the_Community"}}</h4>
			<p>{{_ "Follow_social_profiles"}}</p>
		{{/if}}
		<nav>
			
			
			<a target="_blank" class="button share google" href="https://plus.google.com/+RocketChatApp"><i class="icon-gplus"></i><span>Google Plus</span></a>
			<a target="_blank" class="button share github" href="https://github.com/RocketChat/Rocket.Chat"><i class='icon-github-circled'></i><span>GitHub</span></a>
			
		</nav>
	</div>
</template>
