<template name="error">
	<section class="full-page">
		<div class="wrapper">
			<header>
				<a class="logo" href="/">
					
				</a>
			</header>
			<h1>{{_ "Not_found_or_not_allowed"}}</h1>
		</div>
	</section>
</template>
