<template name="logoLayout">
	<section class="full-page">
		<div class="wrapper">
			<header>
				<a class="logo" href="/">
					
				</a>
			</header>
			{{> Template.dynamic template=render}}
		</div>
	</section>
</template>
