<head>
	<title>ProtoType </title>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="fragment" content="!" />
	<meta name="distribution" content="global" />
	<meta name="rating" content="general" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	
</head>

<body>
</body>

<template name="main">
	{{#if subsReady}}
		{{#unless logged}}
			<div class="connection-status">
				{{> status}}
			</div>
			{{#if useIframe}}
				{{#if iframeUrl}}
					<iframe src="{{iframeUrl}}" style="height: 100%; width: 100%;"></iframe>
				{{/if}}
			{{else}}
				{{> loginLayout center="loginForm"}}
			{{/if}}
			<script>{{{CustomScriptLoggedOut}}}</script>
		{{else}}
			{{#unless hasUsername}}
				{{> username}}
			{{else}}
				{{#if requirePasswordChange}}
					{{> loginLayout center="resetPassword"}}
				{{else}}
					{{> spotlight}}
					{{> videoCall overlay=true}}
					<div id="user-card-popover"></div>
					<div id="rocket-chat" class="menu-nav menu-closed">
						<div class="connection-status">
							{{> status}}
						</div>
						{{#unless modal}}
							<div class="flex-tab-bar" role="toolbar">
								{{> flexTabBar}}
							</div>
						{{/unless}}
						<div class="main-content {{flexOpened}} {{flexOpenedRTC1}} {{flexOpenedRTC2}} {{#if modal}}main-modal{{/if}}">
							{{> Template.dynamic template=center}}
						</div>
						{{#unless modal}}
							{{> sideNav }}
						{{/unless}}
					</div>
					{{> audioNotification }}
				{{/if}}
			{{/unless}}
			<script>{{{CustomScriptLoggedIn}}}</script>
		{{/unless}}
	{{else}}
		{{> pageLoading}}
	{{/if}}
</template>
